.new_niche{
  height: 500px;
  width: 100%;
  background-color:antiquewhite;
  display: flex;
  justify-content: space-around;
}

.my_niche{
  width: 300px;
  height: 300px;
  background-color: lightgreen;
}