/* 共通の変数設定 */
$primary-color: #333;  // この色は自分のブランドカラーに合わせて変更してください。
$bg-color: #f5f5f5;
$link-color: #007BFF;
$edit-color:#4CAF50;

body {
  font-family: 'Helvetica', sans-serif;
  background-color: $bg-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  overflow: hidden;  // 追加: ページ全体のスクロールを無効にする
}

.header {
  position: fixed;  // ヘッダーを固定
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;  // 他の要素の上に表示されるようにする
}

.footer {
  position: fixed;  // フッターを固定
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;  // 他の要素の上に表示されるようにする
}

.content-wrapper {
  margin-top: 75px;  // ヘッダーの高さに合わせて調整。実際の値は調整が必要。
  margin-bottom: 35px;  // フッターの高さに合わせて調整。実際の値は調整が必要。
  overflow-y: auto;  // 縦方向にスクロール
  height: calc(100vh - 75px - 35px - 20px);  // 100%からヘッダーとフッターの高さを引いた値。実際の値は調整が必要。
  position: relative;
  z-index: 1;
}

.header, .footer {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h1 {
  margin: 0;
  display: inline-block;
  font-size: 36px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header li {
  display: inline-block;
  margin-left: 15px;
}

.header a, .footer a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  text-align: center;
}

@import "niches";
@import "posts";